body{
    margin: 0;
    padding: 0;
    background-image: url(img/pig-domestic-pig-suckle-piglet-45869.jpeg);
    background-size: cover;
    }
.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;
    }
    .box li{
    display: inline-block;
    margin: 6px;
    list-style: none;
    }
    .box li a{
        color: whitesmoke;
        text-decoration: none;
        font-size: 60px;
   }
    .box ]i a:hover{
        color: #a162e7;
    }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
footer{
    background-color: black;
    height: auto;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 40px;
    color: antiquewhite;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.0rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(16, 236, 9);
}
.socials a i{
    font-size: 3.3rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aquamarine;
}

.footer-bottom{
    background-color: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
p{font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: large;color: rgb(251, 195, 8);
    font-weight: 500;
}
h1{font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;color:
    rgb(248, 56, 8);font-weight: bolder;font-display: ;

}